HTTPS=HTTPS 사용 여부 (공란일 시 false)
DATABASE_HOST=데이터베이스 주소 (공란일 시 default 127.0.0.1)
DATABASE_PASSWORD=데이터베이스 비밀번호 (공란일 시 default '')
DATABASE_PORT=데이터베이스 포트 (공란일 시 default 3306)
DATABASE_SCHEMA=데이터베이스 스키마명 (공란일 시 default test)
DATABASE_TYPE=데이터베이스 종류 (공란일 시 default mysql)
DATABASE_USER_NAME=데이터베이스 유저명 (공란일 시 default root)
LOG_MAX_FILES=로그 최대 개수 (공란일 시 default 3)
LOG_MAX_SIZE=로그 파일 사이즈 (공란일 시 default 10m)
LOG_PATH=로그 경로 (공란일 시 해당 프로젝트 logs 폴더)
PORT=서버 포트 (공란일 시 default 3001)
PROJECT_NAME=프로젝트명 (공란일 시 sample projcect name)
SSL_CA_FILE_PATH=SSL key 파일 경로 (SSL_TYPE이 crt일 경우 작성, 필수 x)
SSL_CERT_FILE_PATH=SSL cert 파일 경로 (SSL_TYPE이 crt일 경우 필수 작성)
SSL_KEY_FILE_PATH=SSL key 파일 경로 (SSL_TYPE이 crt일 경우 필수 작성)
SSL_PFX_FILE_PATH=SSL pfx 파일 경로 (SSL_TYPE이 pfx일 경우 필수 작성)
SSL_PFX_PASS=SSL passphrase 값 (SSL_TYPE이 pfx일 경우 필수 작성)
SSL_TYPE=SSL 타입 ex) crt, pfx